* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.pt {
    padding-top: 160px;
}

.pb {
    padding-bottom: 160px;
}

.header-bg {
    background-image: url(../img/donation7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(25 27 28 / 70%);
    background-blend-mode: soft-light;
}

.header-content {
    color: #fff;
    text-align: center;
}

.header-text {
    margin-bottom: 35px;
}

.header-text h1 {
    font-size: 60px;
    font-weight: 700;
}

.header-content {
    color: #fff;
    text-align: center;
    padding: 0 319px;
}

.donate-btn a {
    display: block;
    width: 22%;
    background: #f15858;
    margin: 15px auto;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 700;
}

.section-title {
    text-align: center;
    padding: 0 303px;
    margin-bottom: 60px;
}

.section-title h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

.section-title p {
    color: #979797;
}

.donate-amounts {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-bottom: 58px;
}

.amount-item {
    background: #dfdfdf;
    padding: 50px 30px;
    color: #838080;
    font-size: 22px;
    border-radius: 10px;
}

#amount-id {
    padding: 50px 30px;
    color: #ff6f6f;
    font-size: 22px;
    border-radius: 10px;
    background: #ffd0d0;
    border: 3px solid #ff6f6f;
}


.pay-amount {
    text-align: center;
    color: #ddd;

}

.pay-amount p {
    border-bottom: 1px solid #ddd;
    width: 70%;
    margin: 27px auto;
    padding-bottom: 16px;
}

.plans {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly !important;
}

.plan-item {
    padding: 77px 37px;
    margin-left: 35px;
}

div#item1 {
    background: #e5f6f7;
}

div#item2 {
    background: #ffe0e0;
}

div#item3 {
    background: #fbeebf;
}

.plan-icon {
    margin-bottom: 20px;
}

.plan-text h2 {
    margin-bottom: 20px;
}

.plan-text p {
    color: #8f8f8f;
}

.features-items {
    display: flex;
    margin-bottom: 145px;
}

.features-content {
    width: 38%;
    margin: 0 auto;
}

.features-img {
    width: 38%;
    margin: 0 auto;
}

.features-img img {
    max-width: 100%;
}

.features-img img {
    max-width: 100%;
}

.features-content h2 {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 22px;
}

.btn a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background: #f15858;
    color: #fff;
    width: 43%;
    text-align: center;
    padding: 14px 38px;
    margin-top: 22px;
    border-radius: 5px;
}

.features-content p {
    color: #909090;
    font-size: 16px;
    line-height: 36px;
}

.subscription-form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background: #ffecbb;
    border-radius: 6px;
    padding: 85px 73px;
}

.subscription-form input {
    border: none;
    padding: 20px 100px 20px 25px;
    background: #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}


.subscription-form button {
    border: none;
    display: inline-block;
    background: #ff6f6f;
    color: #fff;
    padding: 20px 58px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -17px;
    font-size: 16px;
    font-weight: 700;
}

footer {
    background: #000;
    text-align: center;
    padding: 60px 0;
}

footer h2 {
    font-weight: 700;
    color: #ff6f6f;
    font-style: italic;
    font-size: 55px;
    margin-bottom: 15px;
}

footer p {
    color: #fff;
}